@model StartupCentral.Models.Aceleradora

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutGL.cshtml";
}

<h2>Detalhes</h2>
<div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Aceleradora <small>Detalhes</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.AceleradoraId })
                        @Html.ActionLink("Back to List", "Index")
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Aceleradora</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Endereço</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Contatos</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Beneficio)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Beneficio.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Observacoes)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Observacoes)
                                </dd>
                            </dl>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            @Html.Partial("~/Views/Shared/EnderecoDetailsPartial.cshtml", Model.Endereco,
                                    new ViewDataDictionary(ViewData)
                                    {
                                        TemplateInfo = new TemplateInfo
                                        {
                                            HtmlFieldPrefix = "Endereco"
                                        }
                                    })
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            @Html.Partial("~/Views/Shared/ContatoDetailsPartial.cshtml", Model.Contatos,
                                    new ViewDataDictionary(ViewData)
                                    {
                                        TemplateInfo = new TemplateInfo
                                        {
                                            HtmlFieldPrefix = "Contatos"
                                        }
                                    })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>