@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutGL.cshtml";
}

<div class="">
    <!--WIDGETS-->
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-check-square-o"></i></div>
                <div class="count">@ViewBag.NumWins</div>
                <h3>Não Inscritos</h3>
                <p>Quantidade de Metric Wins</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-paper-plane"></i></div>
                <div class="count">@ViewBag.NumStartupsBS</div>
                <h3>BizSpark</h3>
                <p>Quantidade de startups no BizSpark</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-rocket"></i></div>
                <div class="count">@ViewBag.NumStartupsBSPlus</div>
                <h3>BizSpark Plus</h3>
                <p>Quantidade de startups no BizSpark Plus</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-usd"></i></div>
                <div class="count">@ViewBag.ConsumoTotal</div>
                <h3>Consumo total</h3>
                <p>Consumo total acumulado</p>
            </div>
        </div>
    </div>
    <!--GRAFICO CENTRAL PRINCIPAL DE CONSUMO-->
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Consumo Cumulativo Anual <small>Progresso Semanal</small></h2>
                    <div class="filter">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--Grafico central-->

                    <div id="echart_donut" style="height:280px;"></div>

                    <!--TOP PROFILES!-->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div>
                            <div class="x_title">
                                <h2>Top Profiles</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">@ViewBag.Top1</a>
                                        <p><strong>@ViewBag.ConsumoTotalTop1 </strong> - Consumo Total </p>
                                        <p>
                                            <small>Consumo Acumulado - FY17</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">@ViewBag.Top2</a>
                                        <p><strong>@ViewBag.ConsumoTotalTop2 </strong> - Consumo Total </p>
                                        <p>
                                            <small>Consumo Acumulado - FY17</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-blue profile_thumb">
                                        <i class="fa fa-user blue"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">@ViewBag.Top3</a>
                                        <p><strong>@ViewBag.ConsumoTotalTop3 </strong> - Consumo Total </p>
                                        <p>
                                            <small>Consumo Acumulado - FY17</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">@ViewBag.Top4</a>
                                        <p><strong>@ViewBag.ConsumoTotalTop4 </strong> - Consumo Total </p>
                                        <p>
                                            <small>Consumo Acumulado - FY17</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">@ViewBag.Top5</a>
                                        <p><strong>@ViewBag.ConsumoTotalTop5 </strong> - Consumo Total </p>
                                        <p>
                                            <small>Consumo Acumulado - FY17</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
@Scripts.Render("~/bundles/jqueryval")
<!-- ECharts -->
<script src="../vendors/echarts/dist/echarts.min.js"></script>
    <script>
        var echartDonut = echarts.init(document.getElementById('echart_donut'), theme);

        $(document).ready(function () {
            //Preenchendo o grafico central
            //$(function () {
            //    $.getJSON('../../Home/JsonValues', function (data) {
            //        $.plot($("#placeholder33x"), [{
            //            label: "Consumo em Dólar USD",
            //            data: data,
            //            lines: {
            //                fillColor: "rgba(0, 255, 0, 0.12)"
            //            }, //#96CA59 rgba(150, 202, 89, 0.42)
            //            points: {
            //                fillColor: "#fff"
            //            }
            //        }], options);
            //    });
            //});
        });
    </script>
}